@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'HanSantteutDotum_R';
    src: url(../font/HANSANTTEUTDOTUM-REGULAR.TTF);
}