// $thema01-01:rgba(#dddbd1,1);
// $thema01-02:rgba(#d1cec6,1);
// $thema01-03:rgba(#adafaa,1);
// $thema01-04:rgba(#919693,1);
// $thema01-05:rgba(#666d70,1);
// $thema01-06:rgba(#444f51,1);
// $thema01-07:rgba(#30383a,1);

// $thema01-01:rgba(#d8ddce,1);
// $thema01-02:rgba(#c1d1bf,1);
// $thema01-03:rgba(#a5bfaa,1);
// $thema01-04:rgba(#7fa08c,1);
// $thema01-05:rgba(#5b8772,1);
// $thema01-06:rgba(#21543f,1);
// $thema01-07:rgba(#0c3026,1);

// $thema01-01:rgba(#cce2dd,1);
// $thema01-02:rgba(#b2d8d8,1);
// $thema01-03:rgba(#8cccd3,1);
// $thema01-04:rgba(#54b7c6,1);
// $thema01-05:rgba(#00a0ba,1);
// $thema01-06:rgba(#007f99,1);
// $thema01-07:rgba(#00667f,1);

$thema01-01:rgba(#d6d6d8,1);
$thema01-01-opacity:rgba(#d6d6d8,0.29);
$thema01-02:rgba(#bfc6d1,1);
$thema01-03:rgba(#9baabf,1);
$thema01-04:rgba(#6d87a8,1);
$thema01-05:rgba(#335687,1);
$thema01-06:rgba(#0f2b5b,1);
$thema01-07:rgba(#0c1c47,1);