$thema01-01:rgba(#dddbd1,1);
$thema01-02:rgba(#d1cec6,1);
$thema01-03:rgba(#adafaa,1);
$thema01-04:rgba(#919693,1);
$thema01-05:rgba(#666d70,1);
$thema01-06:rgba(#444f51,1);
$thema01-07:rgba(#30383a,1);