.about-area{
    margin:150px 0 50px;

    .inner{
        margin:0 auto;
        width:90%;
    }
    .id-card-area{
        margin:0 auto 30px;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:285px;
        height:190px;
        border-radius:15px;
        background-color: $thema01-01;
        overflow: hidden;

        .card-line{
            display:block;
            width:100%;
            height:35px;
            background-color: $thema01-06;
            color: $thema01-01;
            text-align: center;
            .txt{
                line-height: 35px;
                font-size:20px;
                font-weight: 600;
            }
        }

        .id-card-info-group{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:20px 30px;

            .id-card-info-item{
                font-weight: 600;

                &:nth-child(2){
                    margin-bottom:15px;
                }

                &:nth-child(3){
                    font-size: 24px;
                }
            }
        }
    }

    .bottom-area{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .txt{
            padding-right:20px;
            text-align: right;
            font-size: 16px;
            font-weight: 600;
            .br{
                display:block;
            }
        }
        .scroll{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:5px;            

            .arrow{
                display:block;
                width:30px;
                height:30px;
                border-left:5px solid $thema01-07;
                border-bottom:5px solid $thema01-07;
                transform:rotate(-45deg);
            }
        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px)  {
    .about-area{
        margin-top:0;
        float:left;
        width:50%;

        .common-inner{
            padding:0 25px;
        }
        .id-card-area{
            margin:80px auto 50px;
        }
        .bottom-area{
            justify-content: center;
            .txt{
                padding-right:0;
                text-align: center;
                .br{
                    display:inline;
                }
            }
            .scroll{
                display:none;
            }
        }
    }
}

@media screen and (min-width:1025px) {
    .about-area{
        margin:0 auto;
        width:30%;
        height:100%;

        .common-inner{
            margin:auto;
            text-align: center;
            .helper{
                display:inline-block;
                vertical-align: middle;
                height:80vh;
            }
            .inner{
                display:inline-block;
                vertical-align: middle;
            }
        }
        .id-card-area{
            display:flex;
            flex-direction: row-reverse;
            width:190px;
            height:285px;

            .card-line{
                width:35px;
                height:100%;
                .txt{
                    white-space: nowrap;
                    transform: rotate(90deg) translateX(60px);
                }
            }

            .id-card-info-group{
                flex-direction: column;
                justify-content:center;

                img{
                    margin-bottom: 10px;
                }
                .id-card-info-list{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    .id-card-info-item{
                        &:nth-child(2n){
                        font-size: 12px;
                        }
                        &:nth-child(1),
                        &:nth-child(2){
                            text-align:left;
                        }
                    }
                }
                
            }
        }

        .bottom-area{
            justify-content: center;
            .txt{
                padding-right:0;
                font-size:20px;
            }
            .scroll{
                display:none;
            }
        }
    }
}