.about-area{
    margin:150px auto 50px;

    .inner{
        margin:auto;
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:50px;
        width:90%;
    }
    .group{
        position: relative;
        margin:auto;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .id-card-area{
        position: relative;
        top:0;
        left:0;
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        width:285px;
        height:190px;
        border-radius:15px;
        background-color: $thema01-01;
        overflow: hidden;
        transition:1s;
        z-index:2;
        box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .2),
                    2px 3px 2px 1px rgba(0, 0, 0, .2),
                    3px 4px 0px 1px rgba(0, 0, 0, .2),
                    4px 5px 0px 0px rgba(0, 0, 0, .2),
                    5px 6px 0px 0px rgba(0, 0, 0, .2);
        font-family: 'HanSantteutDotum_R';

        &.move{
            left:-240px;
            transition:1s;
            box-shadow:none;
        }
        .card-line{
            display:block;
            width:100%;
            height:35px;
            background-color: $thema01-06;
            color: $thema01-01;
            text-align: center;
            .txt{
                line-height: 35px;
                font-size:20px;
                font-weight: 600;
                font-family: 'EliceDigitalBaeum_Bold';
            }
        }

        .id-card-info-group{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:20px 30px;

            .id-card-info-item{
                font-weight: 600;

                &:nth-child(2){
                    margin-bottom:15px;
                }

                &:nth-child(3){
                    font-size: 24px;
                }
            }
        }
    }
    .contact-area{
        position: absolute;
        top:50%;
        left:55px;
        display:flex;
        flex-direction: column;
        gap:5px;
        opacity:0;
        transform:translateY(-50%);

        &.show{
            opacity:1;
            transition:1s;
        }

        .mobile,
        .email{
            display:flex;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            font-family: 'HanSantteutDotum_R';
            
            .icon{
                margin-right:5px;
                width:25px;
            }
        }
    }

    .bottom-area{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap:20px;
        .txt{
            font-size: 16px;
            font-weight: 600;
            font-family: 'HanSantteutDotum_R';
        }
        .index-area{
            width:100%;
            display:flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            gap:15px;
            .index-item{
                display:flex;
                align-items: center;
                text-align: center;
                font-size: 14px;
                font-weight: 600;
                font-family: 'HanSantteutDotum_R';
                box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
                &:first-child{
                    cursor: pointer;
                }
                .title{
                    display:block;
                    width:120px;
                    height:30px;
                    line-height:30px;
                    background-color: $thema01-02;

                }
                .deco{
                    display:block;
                    width:30px;
                    height:30px;
                    background-color: $thema01-05;
                    img{
                        margin-top:2px;
                        width:75%;
                        vertical-align:middle;
                    }

                }

                &:hover{
                    transform:rotate(-3deg);
                    transition:0.5s ease;
                }
            }
        }
        .scroll{
            display:flex;
            flex-direction: column;
            align-items: center;
            gap:5px;            

            .arrow{
                display:block;
                width:30px;
                height:30px;
                border-left:5px solid $thema01-07;
                border-bottom:5px solid $thema01-07;
                transform:rotate(-45deg);
            }
        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px)  {
    .about-area{
        margin-top:0;
        float:left;
        width:50%;
        .inner{
            gap:30px;
        }
        .common-inner{
            padding:0 25px;
        }
        .id-card-area{
            margin:60px auto 0;
        }
        .contact-area{
            transform:none;
        }
        .bottom-area{
            justify-content: center;
            .txt{
                padding-right:0;
                text-align: center;
                .br{
                    display:inline;
                }
            }
            .scroll{
                display:none;
            }
        }
    }
}

@media screen and (min-width:1025px) {
    .about-area{
        margin:0 auto;
        width:30%;
        height:100%;

        .common-inner{
            margin:auto;
            text-align: center;
            .helper{
                display:inline-block;
                vertical-align: middle;
                height:80vh;
            }
            .inner{
                display:inline-block;
                vertical-align: middle;
            }
        }
        .id-card-area{
            margin-bottom:20px;
            display:flex;
            flex-direction: row-reverse;
            width:190px;
            height:285px;

            &.move{
                left:-200px;
            }

            .card-line{
                width:35px;
                height:100%;
                .txt{
                    white-space: nowrap;
                    transform: rotate(90deg) translateX(60px);
                }
            }

            .id-card-info-group{
                flex-direction: column;
                justify-content:center;

                img{
                    margin-bottom: 10px;
                }
                .id-card-info-list{
                    display:flex;
                    flex-direction: column;
                    justify-content: center;
                    .id-card-info-item{
                        &:nth-child(2n){
                        font-size: 12px;
                        }
                        &:nth-child(1),
                        &:nth-child(2){
                            text-align:left;
                        }
                    }
                }
                
            }
        }

        .bottom-area{
            justify-content: center;
            .txt{
                padding-right:0;
                font-size:14px;
                .br{
                    display:inline;
                }
            }
            .scroll{
                display:none;
            }
        }
    }
}