.btn-scroll-top{
    padding:10px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .txt{
        font-size: 16px;
    }
    .icon-scroll{
        position: relative;
        display:inline-block;
        width:40px;
        height:40px;

        &::before,
        &::after{
            content:'';
            position: absolute;
            left:50%;
        }
        &::before{
            width:10px;
            height:10px;
            border-top:2px solid $thema01-07;
            border-left:2px solid $thema01-07;
            transform:translateX(-50%) rotate(45deg);
        }
        &::after{
            bottom:0;
            width:2px;
            height:40px;
            background-color: $thema01-07;
            transform:translateX(-50%);
        }
    }
}

@media screen and (min-width:1025px) {
    .btn-scroll-top{
        display:none;
    }
}