body{
    min-width: 320px;
    background-color: $thema01-01-opacity;
}
.common-inner{
    padding:0 5px;
}

.title-area{
    margin-bottom:50px;

    .rect{
        display:inline-block;
        width:10px;
        height:40px;
        background-color: $thema01-01;
    }

    .title{
        display:inline-block;
        vertical-align: top;
        font-size: 34px;
    }
}

@media screen and (min-width:744px) and (max-width:1024px)  {
    .title-area{
        margin-bottom:30px;
    }
    .wrap-row{
        display:flex;
        flex-wrap:wrap;
        height:335px;
        .portfolio-group{
            width:50%;
            flex-shrink: 0;
        }
    }
}

@media screen and (min-width:1025px){
    .wrap{
        max-width:1440px;
        margin:auto;
        display:flex;
        justify-content:center;
        .wrap-desktop{
            margin:0 auto;
            width:60%;
        }
        .wrap-row{
            margin:0 auto;
            display:flex;
            flex-wrap:wrap;
            .portfolio-group{
                width:50%;
                flex-shrink: 0;
            }
        }
    }
}