.common-inner{
    padding:0 5px;
}

.title-area{
    margin-bottom:50px;

    .rect{
        display:inline-block;
        width:10px;
        height:40px;
        background-color: $thema01-01;
    }

    .title{
        display:inline-block;
        vertical-align: top;
        font-size: 34px;
    }
}