.portfolio-area{
    
    .portfolio-group{
        position:relative;
        margin-bottom:30px;
        
        &::before{
            content:'';
            position:absolute;
            top:30px;
            left:0;
            display:block;
            width:100%;
            height:5px;
            background-color: $thema01-07;
            z-index: -1;
        }
        
        .portfolio-box{
            padding:5px 15px 0;
            margin:auto;
            background-color: $thema01-01;
            width: 90%;
            border:2px solid $thema01-07;

            &.is-closed{
                .content-list{
                    display:none;
                }
                .btn-toggle{
                    .txt{
                        .front{
                            display:none;
                        }
                        .back{
                            display:inline;
                        }
                    }
                    .btn-icon{
                        margin-top:0;
                        transform: rotate(-135deg);
                    }
                }
            }
            
            .title-group{
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding:5px 0 10px;            
                .title{
                    font-size: 18px;
                }
                
                .go-to-link{
                    padding-top:5px;
                    display:flex;
                    justify-content:center;
                    align-items: center;
                    font-size: 16px;

                    &:hover{
                        font-weight: 600;
                        transition: 0.3s ease;
                    }
                    .icon-link{
                        margin-left:3px;
                        width:15px;
                        height:15px;
                    }
                }
            }
    
            .content-list{
                margin-bottom: 5px;
                padding:5px 10px 0;
                height:200px;
                overflow-y: auto;
                border-top:1px solid $thema01-07;
                .content-item{
                    width:100%;
                    display:flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    &:not(:nth-child(2)){
                        margin-bottom:15px;
                    }
                    .title{
                        display:block;
                        width:100%;
                        font-size: 15px;
                        font-weight: 600;
                    }
                    .desc{
                        margin-left:7%;
                        text-align: justify;
                        font-size: 14px;
                        &.list-style{
                            .desc{
                                list-style:disc;
                            }
                        }
                    }
                }
            }
    
            .btn-toggle{
                padding:10px 0;
                display:flex;
                justify-content: center;
                align-items: center;
                border-top:1px solid $thema01-07;
                cursor: pointer;
                .txt{
                    font-size: 16px;
                    font-weight: 600;
                    .back{
                        display:none;
                    }
                }
                .btn-icon{
                    margin-top:5px;
                    margin-left:5px;
                    display:inline-block;
                    width:10px;
                    height:10px;
                    border-left:2px solid $thema01-07;
                    border-top:2px solid $thema01-07;
                    transform: rotate(45deg);
                }
            }

        }
    }
}

@media screen and (min-width:744px) and (max-width:1024px)  {
    .portfolio-area{
        .common-inner{
            padding:0 25px;
        }
        .portfolio-group{
            .portfolio-box{
                padding-top:10px;
                .title-group{
                    .go-to-link{
                        font-size: 18px;
                        .icon-link{
                            width:20px;
                            height:20px;
                        }
                    }
                }
                .content-list{  
                    height:250px;     
                    .content-item{
                        .title{
                            font-size: 20px;
                        }
                        .desc{
                            font-size: 18px;
                        }
                        // &:not(:last-child){
                        //     margin-bottom:10px;
                        // }
                    }
                }
                .btn-toggle{
                    padding:15px 0;
                    .txt{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1025px) {
    .portfolio-area{
        .title-area{
            margin-bottom:30px;
        }
        .portfolio-group{
            .portfolio-box{
                width:95%;
                .title-group{
                    .title{
                        font-size: 20px;
                    }
                    .go-to-link{
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}