.hide,
.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.clearFix::after {
  content: '';
  display: block;
  clear: both;
}

@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: 'HanSantteutDotum_R';
  src: url(../font/HANSANTTEUTDOTUM-REGULAR.TTF);
}

.about-area {
  margin: 150px auto 50px;
}

.about-area .inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 90%;
}

.about-area .group {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-area .id-card-area {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 285px;
  height: 190px;
  border-radius: 15px;
  background-color: #d6d6d8;
  overflow: hidden;
  transition: 1s;
  z-index: 2;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2), 2px 3px 2px 1px rgba(0, 0, 0, 0.2), 3px 4px 0px 1px rgba(0, 0, 0, 0.2), 4px 5px 0px 0px rgba(0, 0, 0, 0.2), 5px 6px 0px 0px rgba(0, 0, 0, 0.2);
  font-family: 'HanSantteutDotum_R';
}

.about-area .id-card-area.move {
  left: -240px;
  transition: 1s;
  box-shadow: none;
}

.about-area .id-card-area .card-line {
  display: block;
  width: 100%;
  height: 35px;
  background-color: #0f2b5b;
  color: #d6d6d8;
  text-align: center;
}

.about-area .id-card-area .card-line .txt {
  line-height: 35px;
  font-size: 20px;
  font-weight: 600;
  font-family: 'EliceDigitalBaeum_Bold';
}

.about-area .id-card-area .id-card-info-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.about-area .id-card-area .id-card-info-group .id-card-info-item {
  font-weight: 600;
}

.about-area .id-card-area .id-card-info-group .id-card-info-item:nth-child(2) {
  margin-bottom: 15px;
}

.about-area .id-card-area .id-card-info-group .id-card-info-item:nth-child(3) {
  font-size: 24px;
}

.about-area .contact-area {
  position: absolute;
  top: 50%;
  left: 55px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  opacity: 0;
  transform: translateY(-50%);
}

.about-area .contact-area.show {
  opacity: 1;
  transition: 1s;
}

.about-area .contact-area .mobile,
.about-area .contact-area .email {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'HanSantteutDotum_R';
}

.about-area .contact-area .mobile .icon,
.about-area .contact-area .email .icon {
  margin-right: 5px;
  width: 25px;
}

.about-area .bottom-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.about-area .bottom-area .txt {
  font-size: 16px;
  font-weight: 600;
  font-family: 'HanSantteutDotum_R';
}

.about-area .bottom-area .index-area {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  gap: 15px;
}

.about-area .bottom-area .index-area .index-item {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: 'HanSantteutDotum_R';
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.about-area .bottom-area .index-area .index-item:first-child {
  cursor: pointer;
}

.about-area .bottom-area .index-area .index-item .title {
  display: block;
  width: 120px;
  height: 30px;
  line-height: 30px;
  background-color: #bfc6d1;
}

.about-area .bottom-area .index-area .index-item .deco {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #335687;
}

.about-area .bottom-area .index-area .index-item .deco img {
  margin-top: 2px;
  width: 75%;
  vertical-align: middle;
}

.about-area .bottom-area .index-area .index-item:hover {
  transform: rotate(-3deg);
  transition: 0.5s ease;
}

.about-area .bottom-area .scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.about-area .bottom-area .scroll .arrow {
  display: block;
  width: 30px;
  height: 30px;
  border-left: 5px solid #0c1c47;
  border-bottom: 5px solid #0c1c47;
  transform: rotate(-45deg);
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .about-area {
    margin-top: 0;
    float: left;
    width: 50%;
  }
  .about-area .inner {
    gap: 30px;
  }
  .about-area .common-inner {
    padding: 0 25px;
  }
  .about-area .id-card-area {
    margin: 60px auto 0;
  }
  .about-area .contact-area {
    transform: none;
  }
  .about-area .bottom-area {
    justify-content: center;
  }
  .about-area .bottom-area .txt {
    padding-right: 0;
    text-align: center;
  }
  .about-area .bottom-area .txt .br {
    display: inline;
  }
  .about-area .bottom-area .scroll {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .about-area {
    margin: 0 auto;
    width: 30%;
    height: 100%;
  }
  .about-area .common-inner {
    margin: auto;
    text-align: center;
  }
  .about-area .common-inner .helper {
    display: inline-block;
    vertical-align: middle;
    height: 80vh;
  }
  .about-area .common-inner .inner {
    display: inline-block;
    vertical-align: middle;
  }
  .about-area .id-card-area {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    width: 190px;
    height: 285px;
  }
  .about-area .id-card-area.move {
    left: -200px;
  }
  .about-area .id-card-area .card-line {
    width: 35px;
    height: 100%;
  }
  .about-area .id-card-area .card-line .txt {
    white-space: nowrap;
    transform: rotate(90deg) translateX(60px);
  }
  .about-area .id-card-area .id-card-info-group {
    flex-direction: column;
    justify-content: center;
  }
  .about-area .id-card-area .id-card-info-group img {
    margin-bottom: 10px;
  }
  .about-area .id-card-area .id-card-info-group .id-card-info-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-area .id-card-area .id-card-info-group .id-card-info-list .id-card-info-item:nth-child(2n) {
    font-size: 12px;
  }
  .about-area .id-card-area .id-card-info-group .id-card-info-list .id-card-info-item:nth-child(1), .about-area .id-card-area .id-card-info-group .id-card-info-list .id-card-info-item:nth-child(2) {
    text-align: left;
  }
  .about-area .bottom-area {
    justify-content: center;
  }
  .about-area .bottom-area .txt {
    padding-right: 0;
    font-size: 14px;
  }
  .about-area .bottom-area .txt .br {
    display: inline;
  }
  .about-area .bottom-area .scroll {
    display: none;
  }
}

.btn-scroll-top {
  padding: 10px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-scroll-top .txt {
  font-size: 16px;
  font-family: 'HanSantteutDotum_R';
}

.btn-scroll-top .icon-scroll {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.btn-scroll-top .icon-scroll::before, .btn-scroll-top .icon-scroll::after {
  content: '';
  position: absolute;
  left: 50%;
}

.btn-scroll-top .icon-scroll::before {
  width: 10px;
  height: 10px;
  border-top: 2px solid #0c1c47;
  border-left: 2px solid #0c1c47;
  transform: translateX(-50%) rotate(45deg);
}

.btn-scroll-top .icon-scroll::after {
  bottom: 0;
  width: 2px;
  height: 40px;
  background-color: #0c1c47;
  transform: translateX(-50%);
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .btn-scroll-top {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .btn-scroll-top {
    display: none;
  }
}

body {
  min-width: 320px;
  background-color: rgba(214, 214, 216, 0.29);
}

.common-inner {
  padding: 0 5px;
}

.title-area {
  margin-bottom: 50px;
}

.title-area .rect {
  display: inline-block;
  width: 10px;
  height: 40px;
  background-color: #d6d6d8;
}

.title-area .title {
  display: inline-block;
  vertical-align: top;
  font-size: 34px;
  font-family: 'EliceDigitalBaeum_Bold';
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .title-area {
    margin-bottom: 30px;
  }
  .wrap-row {
    display: flex;
    flex-wrap: wrap;
    height: 335px;
  }
  .wrap-row .portfolio-group {
    width: 50%;
    flex-shrink: 0;
  }
}

@media screen and (min-width: 1025px) {
  .wrap {
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .wrap .wrap-desktop {
    margin: 0 auto;
    width: 65%;
  }
  .wrap .wrap-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .wrap .wrap-row .portfolio-group {
    width: 50%;
    flex-shrink: 0;
  }
  .wrap .wrap-row {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  }
  .wrap .wrap-row .portfolio-group {
    flex-shrink: 0;
  }
}

.header-area {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d6d6d8;
  overflow: hidden;
  z-index: 10;
}

.header-area .title {
  line-height: 75px;
  font-size: 30px;
  font-family: 'EliceDigitalBaeum_Bold';
}

.header-area .menu-area {
  position: fixed;
  right: -62px;
  top: 10px;
  background-color: #bfc6d1;
}

.header-area .menu-area .menu-icon {
  position: relative;
  left: -30px;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.header-area .menu-area .menu-icon::before, .header-area .menu-area .menu-icon::after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 2px;
  background-color: #0c1c47;
}

.header-area .menu-area .menu-icon::after {
  top: 5px;
}

.header-area .menu-area.show {
  right: 0px;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .header-area {
    position: static;
    margin-bottom: 30px;
  }
  .header-area .menu-area {
    display: none;
  }
}

@media screen and (min-width: 1025px) {
  .header-area {
    position: static;
    margin-bottom: 30px;
  }
  .header-area .menu-area {
    display: none;
  }
}

iframe {
  width: 100%;
  height: 100vh;
}

.portfolio-area .portfolio-group {
  position: relative;
  margin-bottom: 30px;
  font-family: 'HanSantteutDotum_R';
}

.portfolio-area .portfolio-group::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  width: 100%;
  height: 5px;
  background-color: #0c1c47;
  z-index: -1;
}

.portfolio-area .portfolio-group .portfolio-box {
  padding: 0 10px;
  margin: auto;
  background-color: #d6d6d8;
  width: 90%;
  border: 2px solid #0c1c47;
}

.portfolio-area .portfolio-group .portfolio-box.is-closed .content-list {
  display: none;
}

.portfolio-area .portfolio-group .portfolio-box.is-closed .btn-toggle .txt .front {
  display: none;
}

.portfolio-area .portfolio-group .portfolio-box.is-closed .btn-toggle .txt .back {
  display: inline;
}

.portfolio-area .portfolio-group .portfolio-box.is-closed .btn-toggle .btn-icon {
  margin-top: 0;
  transform: rotate(-135deg);
}

.portfolio-area .portfolio-group .portfolio-box .title-group {
  padding: 10px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio-area .portfolio-group .portfolio-box .title-group .title {
  font-size: 18px;
}

.portfolio-area .portfolio-group .portfolio-box .title-group .go-to {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.portfolio-area .portfolio-group .portfolio-box .title-group .go-to::before {
  position: absolute;
  top: 50%;
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.45;
  transform: translateY(-50%);
}

.portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-link,
.portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-pdf {
  padding: 3px 5px;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 2;
}

.portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-link:hover,
.portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-pdf:hover {
  background-color: #6d87a8;
  border-radius: 1px;
  transition: 0.3s ease;
}

.portfolio-area .portfolio-group .portfolio-box .content-list {
  margin-bottom: 5px;
  padding: 5px 10px 0;
  height: 200px;
  overflow-y: auto;
  border-top: 1px solid #0c1c47;
}

.portfolio-area .portfolio-group .portfolio-box .content-list .content-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.portfolio-area .portfolio-group .portfolio-box .content-list .content-item:not(:nth-child(2)) {
  margin-bottom: 15px;
}

.portfolio-area .portfolio-group .portfolio-box .content-list .content-item .title {
  display: block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}

.portfolio-area .portfolio-group .portfolio-box .content-list .content-item .desc {
  margin-left: 7%;
  text-align: justify;
  font-size: 12px;
}

.portfolio-area .portfolio-group .portfolio-box .content-list .content-item .desc.list-style .desc {
  list-style: disc;
}

.portfolio-area .portfolio-group .portfolio-box .btn-toggle {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #0c1c47;
  cursor: pointer;
}

.portfolio-area .portfolio-group .portfolio-box .btn-toggle .txt {
  font-size: 16px;
  font-weight: 600;
}

.portfolio-area .portfolio-group .portfolio-box .btn-toggle .txt .back {
  display: none;
}

.portfolio-area .portfolio-group .portfolio-box .btn-toggle .btn-icon {
  margin-top: 5px;
  margin-left: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 2px solid #0c1c47;
  border-top: 2px solid #0c1c47;
  transform: rotate(45deg);
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .portfolio-area .common-inner {
    padding: 0 25px;
  }
  .portfolio-area .portfolio-group .portfolio-box {
    padding: 0 7px;
  }
  .portfolio-area .portfolio-group .portfolio-box .title-group .title {
    font-size: 18px;
  }
  .portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-link,
  .portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-pdf {
    font-size: 14px;
  }
  .portfolio-area .portfolio-group .portfolio-box .content-list {
    height: 250px;
  }
  .portfolio-area .portfolio-group .portfolio-box .content-list .content-item .title {
    font-size: 16px;
  }
  .portfolio-area .portfolio-group .portfolio-box .content-list .content-item .desc {
    font-size: 14px;
  }
  .portfolio-area .portfolio-group .portfolio-box .btn-toggle {
    padding: 15px 0;
  }
  .portfolio-area .portfolio-group .portfolio-box .btn-toggle .txt {
    font-size: 18px;
  }
}

@media screen and (min-width: 1025px) {
  .portfolio-area .title-area {
    margin-bottom: 30px;
  }
  .portfolio-area .portfolio-group .portfolio-box {
    width: 95%;
    padding: 0 7px;
  }
  .portfolio-area .portfolio-group .portfolio-box .title-group .title {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-link,
  .portfolio-area .portfolio-group .portfolio-box .title-group .go-to .go-to-pdf {
    flex-shrink: 0;
    font-size: 14px;
  }
}

.skill-area {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.skill-area .education-area {
  width: 90%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-family: 'HanSantteutDotum_R';
}

.skill-area .education-area .edu-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  border-left: 1px dashed;
  border-bottom: 1px dashed;
}

.skill-area .education-area .edu-group:first-child {
  border-top: 1px dashed;
}

.skill-area .education-area .edu-group .term {
  padding: 10px 15px;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  border-right: 1px dashed;
}

.skill-area .education-area .edu-group .term .end {
  text-align: right;
}

.skill-area .education-area .edu-group .edu-list {
  padding: 10px 0 10px 10px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}

.skill-area .education-area .edu-group .edu-list .academy {
  display: block;
  margin-right: 10px;
}

.skill-area .education-area .edu-group .edu-list .desc {
  display: block;
  margin-right: 10px;
}

@media screen and (min-width: 744px) and (max-width: 1024px) {
  .skill-area {
    margin-bottom: 130px;
  }
}

@media screen and (min-width: 1025px) {
  .skill-area .education-area {
    width: 80%;
    max-width: none;
    height: 130px;
    overflow-y: scroll;
  }
  .skill-area .education-area .edu-group .term {
    padding: 5px 10px;
    line-height: 1.3;
  }
  .skill-area .education-area .edu-group .edu-list {
    padding-left: 10px;
  }
}
